img.card {
max-width: 256px;
width:calc(8vw + 8vh);

}
body {
	background-color:#eeeeee;
}

body {
	font-size:200%;
	font-family: verdana, sans-serif;
}
#question {
	background-color:#dddddd;
	font-size:20pt;
	font-weight:bold;
}
.icon {
	width:128px;
}
.iconsmall {
	width: 32px;
}
.preview {
	width:96px;
}
.ng-cloak { visibility:hidden; }

#footer {
    position: absolute;
    bottom:0px;
    right:0px;
	font-size:50%;
	background-color:white;
}
button.levelselect {
	border: 1px solid black;
	margin: 4px;
	padding: 2px;
	padding-top:10px;
	padding-bottom:5px;
	width: 320px;
	height: 200px;
	border-radius:20px;
	text-align:center;
	font-size: 14pt;
}
a {
	text-decoration: none;:none;
}
.menuentry *{
  display: inline-block;
  vertical-align: middle;
}
h2 {
	font-size: 80%;
}
.cardtext {
	font-size: 14pt;
}


