img.card {
max-width: 256px;
width:calc(8vw + 8vh);

}
body {
background-color:#eeeeee;
}

body {
	font-size:200%;
	font-family: verdana, sans-serif;
}
#question {
	background-color:#dddddd;
	font-size:20pt;
	font-weight:bold;
}
.icon {
	width:32px;
}
.preview {
	width:32px;
}
.ng-cloak { visibility:hidden; }

#footer {
    position: absolute;
    bottom:0px;
    right:0px;
	font-size:50%;
}
button.levelselect {
	border: 1px solid black;
	margin: 4px;
	padding: 2px;
	padding-top:10px;
	padding-bottom:5px;
	width: 24%;
	min-height: 24%;
	white-space:nowrap;
	float: left;
	border-radius:20px;
	}

