img.card {
max-width: 256px;
width:calc(8vw + 8vh);

}
body {
	background-color:#eeeeee;
	color:#000055;
}

body {
	font-size:120%;
	font-family: verdana, sans-serif;
}
#question {
	background-color:#dddddd;
	font-size:20pt;
	font-weight:bold;
}
.icon {
	width:40px;
}
.iconsmall {
	width: 20px;
}
.preview {
	width:48px;
}
.ng-cloak { visibility:hidden; }

#footer {
    position: absolute;
    bottom:0px;
    right:0px;
	font-size:50%;
	background-color:white;
}
button.levelselect {
	border: 1px solid black;
	margin: 3px;
	padding: 2px;
	padding-top:10px;
	padding-bottom:5px;
	width: 160px;
	height: 100px;
	border-radius:10px;
	text-align:center;
	font-size: 12pt;
	color:#000055;
}
a {
	text-decoration: none;:none;
}
.menuentry *{
  display: inline-block;
  vertical-align: middle;
}
h2 {
	font-size: 80%;
}
.cardtext {
	font-size: calc(0.8vw + 0.7vh);
	color:#000055;
}


