<!DOCTYPE html>
<html ng-app="mianatra" ng-controller="Main as m">
  <head>
	<meta charset="utf-8"/>
	<title>Mianatra voambolana Malagasy</title>
	<script src="js/teny.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/mianatra.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="icon" type="sary/malagasy.png" href="sary/malagasy.png" />

  </head>
  <body ng-cloak>
  
<div id = "wrapper">
	<div id="mianatra" ng-cloak>
		<a href="mifidy_mianatra.html">←</a>
	  <br />
	   <button ng-repeat="w in words track by $index" style="{{m.getCardsize()}}" ng-click="milaza(w, level)">
		<img ng-src="sary/{{level}}/{{w}}.png" class = "card"/>
		<div class = "cardtext" >{{m.showText(w)}}</div>
	   </button>
	</div>
</div>
	<br />
<div id = "footer"><a href="credits.html">Credits</a></div>
  </body>
</html>

